ion-content, .hoje {
    --background: #e0dfdf;
  }
  
  .bor{
   
        border-right: 1px solid #ccc;
        padding-right:15px;
  }
  .list-ios{
    margin-bottom:0px;
  }
  .list-md{
      padding-top: 0px;
      padding-bottom: 0px;
  }
 