<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button routerLink="/"></ion-back-button>
        </ion-buttons>
    <ion-title>Histórico de Entregas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-reorder-group id="reorder">
        <ion-item>
          <ion-label>
            <div class="container" id="saldopad">
              <div class="row">
                <div class="bor">
                  <div class="col" class="col-border" >
                    <ion-text>12:20</ion-text>
                  </div>
                </div>
                <div class="col">
                <ion-text>Tv. Lengruber Filho, 171-349 - Engenhoca
                    Niterói - RJ
                    24110-498</ion-text>
                </div>
              </div>
            </div>
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-label>
            <div class="container" id="saldopad">
              <div class="row">
                <div class="bor">
                  <div class="col" class="col-border">
                  <ion-text>12:55</ion-text>
                  </div>
                </div>
                <div class="col">
                <ion-text> R. Daniel Tôrres, 21 - Engenhoca
                    Niterói - RJ
                    24110-465</ion-text>
                </div>
              </div>
            </div>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <div class="container" id="saldopad">
              <div class="row">
                <div class="bor">
                  <div class="col" class="col-border">
                  <ion-text>13:25</ion-text>
                  </div>
                </div>
                <div class="col">
                <ion-text> Tv. Monte Serrate, 6-56 - Fonseca
                    Niterói - RJ
                    24130-310</ion-text>
                </div>
              </div>
            </div>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <div class="container" id="saldopad">
              <div class="row">
                <div class="bor">
                  <div class="col" class="col-border">
                  <ion-text>13:45</ion-text>
                  </div>
                </div>
                <div class="col">
                <ion-text> R. Teixeira de Freitas, 145 - Fonseca
                    Niterói - RJ
                    24130-616</ion-text>
                </div>
              </div>
            </div>
          </ion-label>
        </ion-item>
      </ion-reorder-group>
    </ion-list>

    <ion-list>
      <ion-reorder-group id="reorder">
        <ion-item>
          <ion-label>
            <div class="container" id="saldopad">
              <div class="row">
                <div class="bor">
                  <div class="col" class="col-border">
                  <ion-text> 10:35</ion-text>
                  </div>
                </div>
                <div class="col">
                <ion-text>   Tv. Santo Cristo, 1140-938 - Fonseca
                    Niterói - RJ</ion-text>
                </div>
              </div>
  
            </div>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <div class="container" id="saldopad">
              <div class="row">
                <div class="bor">
                  <div class="col" class="col-border">
                  <ion-text> 11:02</ion-text>
                  </div>
                </div>
                <div class="col">
                <ion-text> Tv. George Alan - Barreto
                    Niterói - RJ</ion-text>
                </div>
              </div>
  
            </div>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <div class="container" id="saldopad">
              <div class="row">
                <div class="bor">
                  <div class="col" class="col-border">
                  <ion-text> 11:45</ion-text>
                  </div>
                </div>
                <div class="col">
                <ion-text>  R. Monte Alverne, 88 - Largo do Barradas
                    Niterói - RJ
                    24110-105</ion-text>
                </div>
              </div>
  
            </div>
          </ion-label>
        </ion-item>
      </ion-reorder-group>
    </ion-list>
  </ion-content>
