

<ion-header>
    <ion-toolbar class="new-background-color">
      <ion-title>Maps</ion-title>
      <ion-buttons slot="primary">
        <ion-back-button text="Back" icon="" color="tertiary" fill="outline"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content>
    <ion-card>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Mapa</ion-label>
          <ion-button  ionFocus="navme('R. Alm. Tefé, 680 - Centro, Niterói - RJ, 24030-085')">View</ion-button>
        </ion-item>
      </ion-card>

</ion-content>