<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Histórico do Saldo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-reorder-group id="reorder">
      <ion-item>
        <ion-label>
          <div class="container" id="saldopad">
            <div class="row">
              <div class="bor">
                <div class="col" class="col-border">
                <ion-text>12:20</ion-text>
                </div>
              </div>
              <div class="col">
              <ion-text>R$10,00</ion-text>
              </div>
            </div>
          </div>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <div class="container" id="saldopad">
            <div class="row">
              <div class="bor">
                <div class="col" class="col-border">
                <ion-text>12:55</ion-text>
                </div>
              </div>
              <div class="col">
              <ion-text>R$10,00</ion-text>
              </div>
            </div>

          </div>
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>
          <div class="container" id="saldopad">
            <div class="row">
              <div class="bor">
                <div class="col" class="col-border">
                <ion-text>13:25</ion-text>
                </div>
              </div>
              <div class="col">
              <ion-text>R$10,00</ion-text>
              </div>
            </div>
          </div>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <div class="container" id="saldopad">
            <div class="row">
              <div class="bor">
                <div class="col" class="col-border">
                <ion-text>13:45</ion-text>
                </div>
              </div>
              <div class="col">
              <ion-text>R$10,00</ion-text>
              </div>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </ion-reorder-group>
  </ion-list>

  <ion-list>
    <ion-reorder-group id="reorder">
      <ion-item>
        <ion-label>
          <div class="container" id="saldopad">
            <div class="row">
              <div class="bor">
                <div class="col" class="col-border">
                <ion-text>10:35</ion-text>
                </div>
              </div>
              <div class="col">
              <ion-text>R$10,00</ion-text>
              </div>
            </div>
          </div>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <div class="container" id="saldopad">
            <div class="row">
              <div class="bor">
                <div class="col" class="col-border">
                <ion-text>11:02</ion-text>
                </div>
              </div>
              <div class="col">
              <ion-text>R$10,00</ion-text>
              </div>
            </div>
          </div>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <div class="container" id="saldopad">
            <div class="row">
              <div class="bor">
                <div class="col" class="col-border" >
                <ion-text >11:45</ion-text>
                </div>
              </div>
              <div class="col">
              <ion-text>R$10,00</ion-text>
              </div>
            </div>
          </div>
        </ion-label>
      </ion-item>

    </ion-reorder-group>
  </ion-list>
</ion-content>