<ion-header>
  <ion-toolbar>
    <ion-title>Registre-se</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>

	  <ion-item>
	    <ion-label position="floating">Username</ion-label>
	    <ion-input type="text" [(ngModel)]="username"></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label position="floating">Password</ion-label>
	    <ion-input type="password" [(ngModel)]="password"></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label position="floating">Confirm Password</ion-label>
	    <ion-input type="password" [(ngModel)]="confirm_password"></ion-input>
	  </ion-item>

	</ion-list>

	<div>
	  <ion-button expand="block" padding color="danger" (click)="prosesRegister()">Resgistrar</ion-button>
	</div>
</ion-content>
